# =========================
# Compiled Object files
# =========================
*.o
*.obj
*.lo
*.slo

# =========================
# Precompiled Headers
# =========================
*.gch
*.pch

# =========================
# Linker files
# =========================
*.ilk

# =========================
# Debugger Files
# =========================
*.pdb
*.dwo

# =========================
# Dynamic libraries
# =========================
*.so
*.dylib
*.dll

# =========================
# Static libraries
# =========================
*.a
*.lib
*.la
*.lai

# =========================
# Executables
# =========================
*.exe
*.out
*.app

# =========================
# CMake build folders
# =========================
cmake-build-debug/
cmake-build-debug-wsl/
build/

# =========================
# CLion / JetBrains files
# =========================
.idea/
*.iml

# =========================
# System files
# =========================
.DS_Store

CMakeLists.txt
